@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body {
    color: white;
    background: linear-gradient(to right, #FF416C, #FF4B2B);
    font-family: 'Montserrat', sans-serif;
}

.navbar .navbar-expand-lg .navbar-light {
    background-color: transparent;
}

.navbar-light .navbar-brand {
    color: white;
}

.nav-item {
    padding: 0 10px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.nav-link active {
    color: white;
}

.nav-item dropdown {
    padding: 0 20px;
}

.nav-link dropdown-toggle {
    color: white;
}

.nav-link {
    color: white;
}

#body-content {
    margin-top: 100px;
    margin-bottom: 50px;
}

#book-now {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 70px;
    margin-bottom: 20px;
    background-color: #FF4B2B;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #fff;
    transition: transform 80ms ease-in;
}

#book-now button:active {
    transform: scale(0.95);
}

#book-now button:focus {
    outline: none;
}

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

table thead {
    display: table;
    width: 100%;
    text-align: center;
}

table tbody {
    display: table;
    width: 100%;
}

.table-details {
    height: 70px;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

#id_guests {
    display: none;
}

#guestslabel {
    display: none;
}