{% extends 'Events/base2.html'%}{%load crispy_forms_tags%} {%block content%}
<div class="container" style="background-color: white; color: black;padding:20px 10px;">
    <legend>Upcoming Events</legend>

    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags}}">{{message}}</div> {% endfor %} {% endif %}

    <form action="" method="GET">

        <table>
            <tr>
                <td><label for="{{ guestsFilter.form.created_by.id_for_label }}">Event Organizer:</label> {{ guestsFilter.form.created_by }}</td>
                <td><label for="{{ guestsFilter.form.eventname.id_for_label }}">Event Name:</label> {{ guestsFilter.form.eventname }}</td>
                <td><label for="{{ guestsFilter.form.venue.id_for_label }}">Venue:</label> {{ guestsFilter.form.venue }}</td>
                <td><button class="btn btn-primary" type="submit">Search</button></td>
            </tr>
        </table>

    </form>
    <table class="table table-sm table-striped">
        <tr>
            <th>Event Type</th>
            <th>Event Name</th>
            <th>Venue</th>
            <th>Description</th>
            <th>Date</th>
            <th>Event Organizer</th>
            <th>Attend</th>

        </tr>

        {% for viewevent in page_obj %}
        <tr>
            <td>{{viewevent.eventtype}}</td>
            <td>{{viewevent.eventname}}</td>
            <td>{{viewevent.venue}}</td>
            <td>{{viewevent.description}}</td>
            <td>{{viewevent.date}}</td>
            <td>{{viewevent.created_by}}</td>
            {% if viewevent.eventtype == 'Public Event' %}
            <td><a class="btn btn-sm btn-success" href="{% url 'guest_registration' viewevent.id%}">Attend</a></td>
            {%else%}
            <td>
                <a class="btn btn-sm btn-warning" href="{% url 'invites_only_application' viewevent.id%}">Apply</a>
            </td>
            {%endif%}
        </tr>

        {%endfor%}

    </table>

    <div class="pagination" style="margin-bottom: 20px;">
        <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn btn-sm btn-outline-info">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-outline-info">Previous</a>
                {% endif %}
                
                <span class="current">
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a href="?page={{num}}" class="btn btn-sm btn-info">{{num}}</a>
                        {% elif num > page_obj.number|add:'-3' and page_obj.number|add:'3' > num %}
                            <a href="?page={{num}}" class="btn btn-sm btn-outline-info">{{num}}</a>
                        {%endif%}
                    {%endfor%}
                </span> {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-outline-info">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-sm btn-outline-info">Last &raquo;</a> {% endif %}
        </span>
    </div>

</div>
{%endblock%}