{% extends 'Events/base2.html'%}{%load crispy_forms_tags%} {%block content%}
<div class="container" style="background-color: white; color: black;padding:20px 10px;">
    <legend>Upcoming Events</legend>
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags}}">{{message}}</div> {% endfor %} {% endif %}
    <table class="table table-sm table-striped">
        <tr>
            <th>Event Type</th>
            <th>Event Name</th>
            <th>Venue</th>
            <th>Description</th>
            <th>Date</th>
            <th>Attend</th>

        </tr>

        {% for viewevent in viewevents %}
        <tr>
            <td>{{viewevent.eventtype}}</td>
            <td>{{viewevent.eventname}}</td>
            <td>{{viewevent.venue}}</td>
            <td>{{viewevent.description}}</td>
            <td>{{viewevent.date}}</td>
            {% if viewevent.eventtype == 'Public Event' %}
            <td><a class="btn btn-sm btn-success" href="{% url 'guest_registration'%}">Attend</a></td>
            {%else%}
            <td>
                <a class="btn btn-sm btn-warning" href="{% url 'invites_only_application'%}">Make an application</a>
            </td>
            {%endif%}
        </tr>

        {%endfor%}

    </table>

</div>
{%endblock%}