{% extends 'Events/base2.html' %}{%block content %}
<div class="row ">
    <div class="col-md-6 " style="font-family: 'Montserrat', sans-serif; ">
        <h1>Event</h1>
        <h1>Management</h1>
        <h1>Software</h1>
        <p>Our Events Management System helps you simplify event planning for all your virtual,hybrid and in-person events. It has the power and flexibility global enterprises need and the scalability that event organizers love.<br> We pride ourselves in
            providing quality customer care services to our esteemed clients. The organisation is built around trust and respect for all without any bias.<br> We are located in several countries accross Africa : Kenya, Nigeria, Ethiopia, Ghana and South
            Africa with our headquarters currently located in Nairobi,Kenya. </p>
    </div>

    <div class="col-md-6 ">
        <img src="https://www.pexels.com/photo/572056/download/?search_query=computer%20dashboard&tracking_id=phl4wem2j6" height="400px " width="100%" style="border: none;">

    </div>
</div>
</div>

{%endblock%}