{% extends 'Events/base2.html' %}{% block content %}
<div class="row ">
    <div class="col-md-6 " style="font-family: 'Montserrat', sans-serif; ">
        <h1>Ezen Events</h1>

        <p>For more information about our products and services, you can contact us through:</p>

        <p><a href="http://www.facebook.com" target=blank style="text-decoration: none;color:white;" class="social"><i class="fab fa-facebook-f" style="padding-top:6px;text-align:center;border: 1px solid white;background-color:white;color:blue;width:30px;height:30px;margin-right:20px"></i>Facebook</a></p>
        <p><a href="http://www.accounts.google.com" target=blank style="text-decoration: none;color:white;" class="social"><i class="fab fa-google-plus-g" style="padding-top:6px;text-align:center;border: 1px solid white;background-color:white;color:yellow;width:30px;height:30px;margin-right:20px"></i>Google</a></p>
        <p><a href="http://www.linkedin.com" target=blank style="text-decoration: none;color:white;" class="social"><i class="fab fa-linkedin-in" style="padding-top:6px;text-align:center;border: 1px solid white;background-color:white;width:30px;color:blueviolet;height:30px;margin-right:20px"></i>LinkedIn</a></p>
        <p><a href="http://www.whatsapp.com" target=blank style="text-decoration: none;color:white;" class="social"><i class="fab fa-whatsapp" style="padding-top:6px;text-align:center;border: 1px solid white;background-color:white;width:30px;color:green;height:30px;margin-right:20px"></i>+254717423651</a></p>
        <p><a href="http://www.instagram.com" target=blank style="text-decoration: none;color:white;" class="social"><i class="fab fa-instagram" style="padding-top:6px;text-align:center;border: 1px solid white;color:orangered;background-color:white;width:30px;height:30px;margin-right:20px"></i>@samuel_stonique</a></p>
        <p><a href="http://www.gmail.com" target=blank style="text-decoration: none;color:white;" class="social"><i class="fas fa-envelope" style="padding-top:6px;text-align:center;border: 1px solid white;color:red;background-color:white;width:30px;height:30px;margin-right:20px"></i>ezenfinancialsevents@gmail.com</a></p>
    </div>

    <div class="col-md-6 ">
        <img src="https://www.pexels.com/photo/572056/download/?search_query=computer%20dashboard&tracking_id=phl4wem2j6" height="350px " width="100%" style="border: none;">

    </div>
</div>
</div>
{%endblock%}