{% extends 'Events/base2.html'%}{%load crispy_forms_tags%} {%block content%}
<div class="container" style="background-color: white; color: black;padding:20px 10px;">
    <legend>Public Event Applications</legend>

    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags}}">{{message}}</div> {% endfor %} {% endif %}

    <form action="" method="GET">
        <table>
            <tr>
                <td><label for="{{ publicFilter.form.firstname.id_for_label }}">First Name:</label> {{ publicFilter.form.firstname }}</td>
                <td><label for="{{ publicFilter.form.lastname.id_for_label }}">Last Name:</label> {{ publicFilter.form.lastname}}</td>
                <td><label for="{{ publicFilter.form.gender.id_for_label }}">Gender:</label> {{ publicFilter.form.gender }}</td>
                <td><button class="btn btn-primary" type="submit">Search</button></td>
            </tr>
        </table>

    </form>

    <table class="table table-sm table-striped">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>ID Number</th>
            <th>Phone Number</th>
            <th>Gender</th>
            <th>County</th>
            <th>Event Applied For</th>
            <th>Accept</th>
            <th>Reject</th>
        </tr>

        {% for viewapplication in page_obj %}
        <tr>
            <td>{{viewapplication.firstname}}</td>
            <td>{{viewapplication.lastname}}</td>
            <td>{{viewapplication.email}}</td>
            <td>{{viewapplication.identificationnumber}}</td>
            <td>{{viewapplication.phonenumber}}</td>
            <td>{{viewapplication.gender}}</td>
            <td>{{viewapplication.county}}</td>
            <td>{{viewapplication.event_applied_for}}</td>
            <td><a class="btn btn-sm btn-info" href="">Accept</a></td>

            <td><a class="btn btn-sm btn-danger" href="{% url 'reject_application' viewapplication.id%}">Reject</a></td>

            {%endfor%}
    </table>

    <div class="pagination" style="margin-bottom: 20px;">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-sm btn-outline-info">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-outline-info">Previous</a>
            {% endif %}
            
            <span class="current">
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a href="?page={{num}}" class="btn btn-sm btn-info">{{num}}</a>
                    {% elif num > page_obj.number|add:'-3' and page_obj.number|add:'3' > num %}
                        <a href="?page={{num}}" class="btn btn-sm btn-outline-info">{{num}}</a>
                    {%endif%}
                {%endfor%}
            </span> {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-outline-info">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-sm btn-outline-info">Last &raquo;</a> {% endif %}
        </span>
    </div>

    <a class="btn btn-sm btn-success" href="{% url 'generate_pdf_applicants'%}">Print Applicants List</a>
</div>
{%endblock%}