{% extends 'Users/user_login.html' %}{%load crispy_forms_tags%}{%block content%}
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Reset Password</h2>
    <hr>
    <form action="" method="post">
        {%csrf_token%}
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        {{form.as_p}}

        <div class="form-goup"><button class="btn btn-outline-info" type="submit">Reset Password</button></div>
    </form>
</div>
{%endblock%}