{% extends 'Events/base2.html'%}{%load crispy_forms_tags%} {%block content%}

<div class="container" style="background-color: white; color: black;">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags}}">{{message}}</div> {% endfor %} {% endif %}
    <legend>
        Update Guest List
    </legend>
    <form method="POST">
        {%csrf_token%} {{form3.as_p}}
        <button class='btn btn-success' type="submit">Update</button>
    </form>

</div>

{%endblock content%}