{% extends 'Events/base2.html'%}{%load crispy_forms_tags%} {%block content%}
<div class="container" style="background-color: white; color: black;padding:20px 10px;">
    <legend>My Guest List</legend>

    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags}}">{{message}}</div> {% endfor %} {% endif %}

    <form action="" method="GET">

        <table>
            <tr>
                <td><label for="{{ guestlistFilter.form.guesttitle.id_for_label }}">Guest Title:</label> {{ guestlistFilter.form.guesttitle }}</td>
                <td><label for="{{ guestlistFilter.form.guestname.id_for_label }}">Guest Name:</label> {{ guestlistFilter.form.guestname}}</td>
                <td><label for="{{ guestlistFilter.form.guestrole.id_for_label }}">Guest Role:</label> {{ guestlistFilter.form.guestrole }}</td>
                <td><button class="btn btn-primary" type="submit">Search</button></td>
            </tr>
        </table>

    </form>

    <table class="table table-sm table-striped">
        <tr>
            <th>Guest Title</th>
            <th>Guest Name</th>
            <th>Email</th>
            <th>Identification Number</th>
            <th>Guest Role</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
        </thead>
        {% for viewguest in page_obj %}
        <tr>
            <td>{{viewguest.guesttitle}}</td>
            <td>{{viewguest.guestname}}</td>
            <td>{{viewguest.email}}</td>
            <td>{{viewguest.identificationnumber}}</td>
            <td>{{viewguest.guestrole}}</td>

            <td><a class="btn btn-sm btn-info" href="{% url 'update_guests_list' viewguest.id %}">Update</a></td>

            <td><a class="btn btn-sm btn-danger" href="{% url 'delete_guests_list' viewguest.id %}">Delete</a></td>

        </tr>
        {% endfor %}

    </table>
    <div class="pagination" style="margin-bottom: 20px;">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-sm btn-outline-info">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-outline-info">Previous</a>
        {% endif %}
        
        <span class="current">
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a href="?page={{num}}" class="btn btn-sm btn-info">{{num}}</a>
                {% elif num > page_obj.number|add:'-3' and page_obj.number|add:'3' > num %}
                    <a href="?page={{num}}" class="btn btn-sm btn-outline-info">{{num}}</a>
                {%endif%}
            {%endfor%}
        </span> {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-outline-info">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-sm btn-outline-info">Last &raquo;</a> {% endif %}
        </span>
    </div>

    <a class="btn btn-sm btn-success" href="{% url 'generate_pdf_guests'%}">Print Guests List</a>
</div>
{%endblock%}