{% extends 'Events/base2.html'%}{%load crispy_forms_tags%} {%block content%}

<div class="container" style="background-color: white; color: black;padding:20px 10px;">
    <legend>My Events</legend>

    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags}}">{{message}}</div> {% endfor %} {% endif %}

    <form action="" method="GET">

        <table>
            <tr>
                <td><label for="{{ myFilter.form.eventtype.id_for_label }}">Event Type:</label> {{ myFilter.form.eventtype }}</td>
                <td><label for="{{ myFilter.form.eventname.id_for_label }}">Event Name:</label> {{ myFilter.form.eventname }}</td>
                <td><label for="{{ myFilter.form.venue.id_for_label }}">Venue:</label> {{ myFilter.form.venue }}</td>
                <td><button class="btn btn-primary" type="submit">Search</button></td>
            </tr>
        </table>

    </form>

    <table class="table table-sm table-striped">

        <tr>
            <th>Event Type</th>
            <th>Event Name</th>
            <th>Venue</th>
            <th>Description</th>
            <th>Date</th>
            <th>Guests</th>
            <th>Update</th>
            <th>Remove</th>
            <th>Send Invites</th>
        </tr>

        {% for viewevent in page_obj %}
        <tr>
            <td>{{viewevent.eventtype}}</td>
            <td>{{viewevent.eventname}}</td>
            <td>{{viewevent.venue}}</td>
            <td>{{viewevent.description}}</td>
            <td>{{viewevent.date}}</td>
            <td>{%for guest in viewevent.guests.all %}{{guest.guestname}}, {%endfor%} </td>
            <td><a class="btn btn-sm btn-info" href="{% url 'update_event' viewevent.id %}">Update</a></td>

            <td><a class="btn btn-sm btn-danger" href="{% url 'delete_event' viewevent.id %}">Delete</a></td>
            {% if viewevent.eventtype == 'Invites Only' %}
            <td><a class="btn btn-sm btn-success" href="{% url 'send_mail' viewevent.id %}">Send Invites</a></td>
            {%else%}
            <td>Open</td>
            {%endif%}
        </tr>
        {%endfor%}
    </table>
    <div class="pagination" style="margin-bottom: 20px;">
        <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn btn-sm btn-outline-info">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-outline-info">Previous</a>
                {% endif %}
                
                <span class="current">
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a href="?page={{num}}" class="btn btn-sm btn-info">{{num}}</a>
                        {% elif num > page_obj.number|add:'-3' and page_obj.number|add:'3' > num %}
                            <a href="?page={{num}}" class="btn btn-sm btn-outline-info">{{num}}</a>
                        {%endif%}
                    {%endfor%}
                </span> {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-outline-info">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-sm btn-outline-info">Last &raquo;</a> {% endif %}
        </span>
    </div>
    <a class="btn btn-sm btn-success" href="{% url 'generate_pdf_events'%}">Print Events List</a>
    <a class="btn btn-sm btn-success" href="{% url 'events_report'%}">Print Events Report</a>
</div>
{%endblock%}